<%- include('./header.ejs') %>

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form id="submitForm">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form1Example13" name="mailID"
                                class="form-control form-control-lg" />
                            <label class="form-label" for="form1Example13">Email address</label>
                        </div>

                        <!-- Password input -->

                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <a href="" onclick="resetPassword()">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include('./footer.ejs') %>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script>

            function resetPassword() {
                var formdata = $('#submitForm').serialize();

                $.ajax({
                    url: "/api/resetPassword",
                    method: 'post',
                    data: formdata,
                    success: function (data) {
                        console.log(data.status)
                        if(data.status){
                            alert(`${data.message} is "${data.data[0].password}"`);
                            window.location.href = `/`
                        }
                        else{
                            alert(`${data.message}`);
                            window.location.href = `/resetpassPage`
                        }
                    }
                });
            }
        </script>